.container {
  max-width: 680px;
}
#frame {
  border: solid 3px;
  padding: 35px;
}
.card {
  display: block;
  text-align: center;
  border-radius: 93px 102px 94px 90px;
  padding: 20% 0%;
  margin: 0px 1px;
}
i {
  font-size: 50px;
}

#cityname {
  display: inline;
  position: relative;
  left: 10%;
  border: solid 1px;
  border-radius: 30px;
  padding: 2px 120px;
  margin: -3% 10% 2% -5%;
  text-align: center;
  color: grey;
  font-size: 20px;
}
#shortcut {
  list-style: none;
  margin: 7px 1px;
}
.fav li {
  display: inline;
  margin: 0 25px;
  text-decoration: underline;
}

#searchbutton {
  display: inline;
  border: none;
  background-color: transparent;
  position: relative;
}
#positionbutton {
  display: inline;
  border: none;
  background-color: transparent;
  position: relative;
  left: 10px;
  font-size: 20px;
}

#current_day {
  font-size: 21px;
  font-style: italic;
  margin: -1% 5%;
}
#current_place {
  position: relative;
  left: 50%;
  top: 50px;
  margin: -7% 0% -9% -36%;
  font-size: 60px;
}

#emoji {
  width: 240px;
  position: relative;
  top: 55px;
  left: 20px;
}
#current-temp {
  position: relative;
  top: 140px;
  left: 50px;
}
#temperature {
  font-size: 100px;
  margin: 0% -6%;
}
#units {
  position: relative;
  top: -5px;
  font-size: 18px;
}
#description {
  text-transform: capitalize;
  position: relative;
  text-align: left;
  top: -250px;
  font-size: 20px;
}
#wh ul {
  position: relative;
  top: 125px;
  list-style: none;
  right: 10px;
  display: inline;
  font-size: 15px;
}

#fahr {
  text-decoration: none;
  color: #0d6efd;
}
#celcius {
  text-decoration: none;
  color: black;
}
#sign {
  margin: 0% 28%;
  font-size: smaller;
}
#previsions {
  margin: 3% 0% 0% 0%;
}
.row {
  --bs-gutter-x: 0.5rem;
}
#previsions img {
  margin: 0% -22%;
}
.col-auto {
  width: 115px;
}
.card {
  border-radius: 5% 5% 5% 5%;
  padding: 0% 0%;
  margin: 0px 0px;
}
